= simple_form_for(@group, html: {multipart: true, class: 'form-horizontal'}) do |f|
  = f.error_notification
  .form-inputs
    = f.input(:name)
    = f.input(:content)
    = f.input(:image)
  .form-actions
    = f.submit(nil, class: 'btn btn-primary')
    = link_to(t('nav.common.cancel'), groups_path, class: 'btn')
