- content_for(:title, @group.name)
- content_for(:head) do
  = render 'ogp',
    title: @group.name, type: 'website',
    url: group_url(@group), image: 'http://lorempixel.com/300/300/',
    description: @group.content_markdown

.row-fluid
  .span9
    = render('sns_buttons', url: group_url(@group), link_name: @group.name)
    = render('groups/menu', below: false)

    - if @latest_event
      .alert.alert-info
        %h4= t('.latest_event')
        .well
          = link_to event_path(@latest_event) do
            %h3
              = @latest_event.name
              %small
                = @latest_event.summary
              - if user_signed_in? && !@latest_event.attendance_for(current_user)
                = link_to t('nav.events.join'), event_attendances_path(@latest_event), class: 'btn btn-primary', method: 'post'

    %section.content
      = render('content_markdown', model: @group)

  .span3
    %h3= t('.members')
    .form-actions
      = @group.link_join_or_leave(current_user)
    %ul#member.unstyled
      = content_tag_for :li, @group.users.each do |user|
        = image_tag(user.image, class: 'img-polaroid')
        - membership = @group.membership_for(user)
        .label{class: membership.level}
          = membership.level_text
        = user.name
