.row-fluid
  .span9
    = render('groups/menu')
    %section.content
      = render('content_markdown', model: @group)

  .span3
    %h3= t('.members')
    .form-actions
      = @group.link_join_or_leave(current_user)
    %ul#member.unstyled
      = content_tag_for :li, @group.users.each do |user|
        = image_tag(user.image, class: 'img-polaroid')
        = user.name
