.row-fluid
  .span9
    %h1= @group.name
    %ul.nav.nav-tabs
      %li.active
        = link_to(@group.name, group_path(@group))
      %li
        = link_to(t('nav.posts.index'), group_posts_path(@group))
    %section.content
      = simple_format @group.content

  .span3
    %h3= t('.members')
    .form-actions
      = @group.link_join_or_leave(current_user)
    %ul#member.unstyled
      = content_tag_for :li, @group.users.each do |user|
        = image_tag(user.image, class: 'img-polaroid')
        = user.name
