.row-fluid
  .span3
    = image_tag user.image, class:'face', size:'50x50'
    %h2= user.name
    %ul.unstyled.connections
      - user.connections.each do |connection|
        %li
          = link_to '', rel: 'tooltip',
            data: { title: connection.provider,
              placement: 'bottom',
            } do
            = image_tag "#{connection.provider}.png"
    %ul.unstyled.groups
      - user.memberships.each do|membership|
        %li
          = link_to group_path(membership.group), rel: 'tooltip',
            data: { title: membership.group.content,
              placement: 'bottom',
            } do
            %span{class: "label #{membership.level}"}= membership.level_text
            %span.label.label-info= membership.group.name
  .content.span9
    = render('content_markdown', model: user)
