= render('groups/menu')
%ul.breadcrumb
  %li
    = link_to(@event.group.name, group_path(@event.group))
    %span.divider /
  %li.active
    = @event.name

.row-fluid
  .span9
    %h1= @event.name
    = @event.date
    %section.content
      = render('content_markdown', model: @event)

    %hr
    = render('comments/comments', comments: @event.comments)
    = render('comments/form', commentable: @event, comment: @event.comments.new)
  .span3
    .form-actions
      = @event.link_join_or_leave(current_user)
    .label
      = @event.attendances.count - @event.cancel_attendances.count
    \/
    .label
      = @event.capacity_max
    - [:attend, :pending, :cancel].each do |status|
      - key = "#{status}_attendances"
      - users = @event.try("#{status}_users")
      - if users.present?
        .section
          %h4= t(".#{key}")
          %ul.unstyled{id: key}
            = content_tag_for :li, users.each do |user|
              = image_tag(user.image, class: 'img-polaroid')
              = user.name
