- content_for(:title, "#{@event.name} - #{@event.group.name}")
- content_for(:head) do
  = render 'ogp',
    title: "#{@event.name} - #{@event.group.name}", type: 'website',
    url: event_url(@event), image: 'http://lorempixel.com/300/300/',
    description: @event.summary

= render('sns_buttons', url: event_url(@event), link_name: "#{@event.name} - #{@event.group.name}")
= render('groups/menu')
%ul.breadcrumb
  %li
    = link_to(@event.group.name, group_path(@event.group))
    %span.divider /
  %li.active
    = @event.name
    
- if current_user.can_update?(@event)
  = link_to(t('nav.common.edit'), edit_event_path(@event), class: 'edit_btn btn')
  = link_to(t('nav.common.delete'), event_path(@event),
    data: {confirm: t('nav.common.delete_confirm')}, method: :delete, 
    class: 'delete_btn btn btn-danger')

.row-fluid
  .span9
    .page-header
      %hgroup
        %h1
          = @event.name
          %small= @event.summary
        %h4
          = @event.date

      %section.content
        = render('content_markdown', model: @event)

      %section
        %h3
          - if @event.place_url.present?
            = link_to @event.place_name, @event.place_url
          - else
            = @event.place_name
        - if @event.place_address.present?
          .well
            = @event.place_address
          = link_to "https://maps.google.co.jp/maps?q=#{@event.place_address}", target: '_blank' do
            - image_tag "//maps.google.com/maps/api/staticmap?zoom=14&size=400x400&sensor=false&markers=#{@event.place_address}", class: 'img-polaroid'

      %hr
      = render('comments/comments', comments: @event.comments)
      = render('comments/form', commentable: @event, comment: @event.comments.new)
  .span3
    .form-actions
      = @event.link_join_or_leave(current_user)
    .label
      = @event.attendances.count - @event.cancel_attendances.count
    \/
    .label
      = @event.capacity_max
    - [:attend, :pending, :cancel].each do |status|
      - key = "#{status}_attendances"
      - users = @event.try("#{status}_users")
      - if users.present?
        .section
          %h4= t(".#{key}")
          %ul.unstyled{id: key}
            = content_tag_for :li, users.each do |user|
              = image_tag(user.image, class: 'img-polaroid')
              - membership = @event.group.membership_for(user)
              .label{class: membership.level}
                = membership.level_text
              = user.name
