- content_for(:body_class, 'top')
- content_for(:head) do
  = render 'ogp',
    title: '', type: 'website',
    url: root_url, image: nil,
    description: t('site_info.description')

= render('sns_buttons', url: root_url, link_name: t('site_info.title'))

.hero-unit
  %h1 circleaf
  = t('site_info.description')
  %p
    %a{href: '/about', class: 'btn btn-primary btn-large'}
      もっと詳しく
      &raquo;

.row-fluid
  .span4
    %h2 ログインする
    %p
      %a{href: '/terms', target: '_blank'}
        利用規約
      に同意して
    - if user_signed_in?
      = link_to('twitterでログインする', '#', class: 'btn btn-block disabled')
    - else
      = link_to('twitterでログインする', user_omniauth_authorize_path(:twitter), class: 'btn btn-info btn-block')
  .span4
    %h2 サークルを作成する
    %p 必要なのはtwitterのアカウントだけ
    - if user_signed_in?
      = link_to('サークルを作成する' , new_group_path, class: 'btn btn-primary btn-block')
    - else
      = link_to('サークルを作成する' , '#', class: 'btn btn-block disabled')

  .span4
    %h2 サークルを探す
    %p 公開サークルを探して加入することも出来ます。
    = link_to('サークルを探す', groups_path, class: 'btn btn-primary btn-block')
