%section.post[post]{data: {postable: {type: post.postable_type, id: post.postable_id}}}
  %div.pull-left
    %div.name
      = image_tag(post.user.image, class: 'media-object face')
      %span= post.user.name
  %div.media-body
    %div.content
      - if post.postable_type.nil?
        = simple_format(post.content)
      - else
        = render("#{post.postable_type.downcase}_content", post: post)
    %div.pull-right.info
      %span.muted.created_at
        = post.created_at
      %span.action
        %span.destroy
          = link_to(t('.delete'), post_path(post), method: :delete)
