%section.post[post]{data: {postable: {type: post.postable_type, id: post.postable_id}}}
  %div.pull-left.user
    - unless post.user == prev_post.try(:user)
      = render('users/user_face', user: post.user)
  %div.media-body
    %div.content
      - if post.postable_type.nil?
        = preserve do
          = post.content_markdown.html_safe
      - else
        = render("#{post.postable_type.downcase}_content", post: post)
    %div.info
      %span.muted.created_at
        = post.created_at.strftime(t('date.long'))
      %span.action
        %span.destroy
          = link_to(t('.delete'), post_path(post), method: :delete)
