- content_for(:body_class, 'posts')
- content_for(:group_id, @group.id.to_s)
= render('groups/menu')
%ul.media-list.posts
  - @posts.each do |post|
    %li.media= render('post', post: post)

.progress.progress-striped.active{:style => "display: none;"}
  .bar{:style => "width: 100%;"}
%ul.unstyled.member

= render('form')

.tabbable.tabs-below
  %ul.nav.nav-tabs
    %li
      = link_to(@group.name, group_path(@group))
    %li.active
      = link_to(t('nav.posts.index'), group_posts_path(@group))
